#statistics .container .statistics__form .links {
   @include flexcol;
   max-width: $link-width;
   margin: 0 auto;
   margin-top: -2.3rem;
   gap: 2rem;

   .links__link {
      @include flex(space-between);
      width: 100%;
      background: white;
      padding: 1rem;
      border-radius: 0.25rem;

      .link__short-wrapper {
         @include flex(center);
         gap: 1rem;

         p {
            color: $cyan;
         }

         .btn {
            border-radius: 6px;
            font-size: 15.5px;
         }
      }

      @media screen and (max-width: 768px) {
         flex-direction: column;
         align-items: flex-start;
         gap: 1rem;

         .link__short-wrapper {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding-top: 1rem;
            border-top: 1px solid $grayish-violet;
            .btn {
               width: 100%;
            }
         }
      }
   }
}
