#header {
   padding: 1rem 0;
   margin-bottom: 2.5rem;

   .container {
      @include flex(space-between);

      a {
         color: $grayish-violet;
         transition: $trans-dur color ease-in-out;
         &:hover {
            color: $very-dark-violet;
         }
      }

      .header__logo {
         height: 33px;
         svg {
            fill: black;
         }
      }

      .header__nav-wrapper {
         @include flex(center);
         gap: 2rem;
      }

      .header__nav ul {
         @include flex(center);
         gap: 1.5rem;
      }

      .header__login-wrapper {
         @include flex(center);
         gap: 1rem;
      }
   }
}
