#statistics {
   background: $background-gray;
   padding-bottom: 11.25rem;

   .container {
      .statistics__wrapper {
         margin-top: 2.5rem;
      }

      .statistics__desc {
         text-align: center;
         width: 44%;
         margin: 0 auto;

         @media screen and (max-width: 425px) {
            width: 65%;
         }

         h2 {
            font-size: 1.8rem;
            color: $very-dark-violet;
            margin-bottom: 7px;
            font-weight: 700;

            @media screen and (max-width: 425px) {
               font-size: 1.5rem;
            }

            @media screen and (max-width: 355px) {
               font-size: 1.25rem;
            }
         }

         p {
            color: $grayish-violet;

            @media screen and (max-width: 425px) {
               font-size: 0.8rem;
            }
         }
      }

      .statistics__cards {
         position: relative;
         @include flex(space-between);
         margin-top: 5.3125rem;
         gap: 1rem;

         &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 10px;
            top: 57%;
            z-index: 0;
            background: $cyan;
         }

         .card {
            background: white;
            width: 31%;
            padding: 0 1.4375rem 1.875rem;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            border-radius: 0.375rem;
            z-index: 1;

            h3 {
               font-weight: 700;
               margin-bottom: 0.625rem;
               margin-top: -15px;
            }

            p {
               color: $grayish-violet;
               line-height: 1.5625rem;
            }

            .card__img {
               background: $dark-violet;
               @include flex(center);
               width: 4.6875rem;
               height: 4.6875rem;
               border-radius: 50%;
               position: relative;
               bottom: 40px;
            }
         }

         .card.second {
            position: relative;
            top: 45px;
         }

         .card.third {
            position: relative;
            top: 90px;
         }
      }

      @media screen and (max-width: 867px) {
         .statistics__cards {
            flex-direction: column;
            gap: 3rem;

            .card {
               width: 20.3125rem;
            }

            &::after {
               width: 10px;
               height: 100%;
               top: 0;
               left: 50%;
            }

            .card__img {
               left: 38%;
            }
         }
      }

      @media screen and (max-width: 355px) {
         .statistics__cards .card {
            width: 18rem;
         }
      }
   }
}
