#intro {
   padding-left: calc((100% - $cont-width) / 2);
   @include flex(space-between);
   height: 80vh;

   .btn {
      padding: 0.625rem 1.8125rem;
   }

   .intro__desc {
      height: 100%;
      width: 42%;
      @include flexcol;
      justify-content: center;
      padding-bottom: 10rem;

      @media screen and (max-width: 994px) {
         align-items: center;
         text-align: center;
         width: 50%;
      }

      h1 {
         font-size: 4.5rem;
         line-height: 5rem;
         font-weight: 700;
         color: $very-dark-blue;

         @media screen and (max-width: 1123px) {
            font-size: 4rem;
         }

         @media screen and (max-width: 754px) {
            font-size: 3.5rem;
         }

         @media screen and (max-width: 650px) {
            font-size: 3rem;
         }

         @media screen and (max-width: 558px) {
            font-size: 2rem;
            line-height: 2.5rem;
            margin-bottom: 2rem;
         }

         @media screen and (max-width: 355px) {
            font-size: 1.75rem;
         }
      }

      p {
         font-size: 1.125rem;
         letter-spacing: 1px;
         color: $grayish-violet;
         line-height: 1.75rem;
         margin-bottom: 1.5625rem;

         @media screen and (max-width: 1123px) {
            font-size: 1rem;
         }
      }

      .btn {
         width: 160px;
      }
   }

   .intro__img {
      height: 100%;
      width: 55%;
      position: relative;

      @media screen and (max-width: 994px) {
         width: 100%;
      }

      img {
         position: absolute;
         top: 0;
         left: 80px;
         height: auto;
         width: 100%;

         @media screen and (max-width: 1200px) {
            top: 2.5rem;
         }

         @media screen and (max-width: 994px) {
            position: static;
            padding-left: calc((100% - $cont-width) / 2);
         }
      }
   }

   @media screen and (max-width: 994px) {
      height: 100%;
      flex-direction: column-reverse;
      gap: 2rem;
      padding: 0;
   }
}
