@use '../abstracts/' as *;
@import '../../components/Header/header';

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   font-weight: 500;
   text-decoration: none;
   list-style: none;
   color: black;
   font-family: 'Poppins', sans-serif;
}

body {
   font-family: 'Poppins', sans-serif;
}

.container {
   width: 80%;
   margin: 0 auto;
   height: 100%;
}

.btn {
   color: white;
   background-color: $cyan;
   padding: 0.4375rem 1.25rem;
   border-radius: 1.5625rem;
   cursor: pointer;
   transition: $trans-dur filter ease-in-out;
   &:hover {
      filter: brightness(1.05);
   }
}
